    

        <footer>            
            <div class="footer-nav">
                <div class="row">
                    <div class="col span-3-of-3 main-nav-footer">
                        <a href="/"><img class="footer-logo" alt="The Nigerian Magazine Logo" src="/img/Logo_Official.png"></a>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>                       
                            <li><a href="#">Advertise with us</a></li>
                            <li><a href="#">Sponsorship Inquiries</a></li>                           
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
        </footer>  
    </body>
</html>