.story-category-date {
    text-decoration: none;
    text-transform: uppercase;
    color: #b9292f;
    font-size: 115%;
    letter-spacing: 0.1rem;
    line-height: 145%;
    word-spacing: 0.2rem;
    font-weight: 700;
    padding: 1% 0;
}

.title {
    font-family: "Raleway", "Arial", serif;
    font-size: 400%;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: .2rem;
    color: #272727;
    word-spacing: .4rem;
    text-align: left;
    max-width: 66.13%;
    margin: 0;
}