/* ------------------------------------------------------ */
/* BASIC SETUP */
/* -------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #f8fdfa;
    color: #333;
    font-family: 'Lato', 'Raleway', 'Economica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.9rem; /*base font size = 16px */
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 98%;
    margin: 0 auto;
}


section {
    padding: 1rem 0;
    max-width: 95%;
    margin: 1% auto;
    border-bottom: 1px solid #dedcdc;
}

/* ------------------------------------------------------ */
/* REUSABLES
/* -------------------------------------------------------*/

/* DELETE FORMS */

#delete-post {
    display: inline;
    margin-left: 0.25rem;
    cursor: pointer;
}

#delete-post button { 
    background-color: #b9292f;
    color: white;
    padding: 0.25rem;
    font-weight: bold;
    cursor: pointer;
}

/* ------------------------------------------------------ */
/* HEADER LOGO */
/* -------------------------------------------------------*/

.header-logo {
    width: 220px;
    height: auto;
    display: block;
    margin: 0px auto;
}

/* ------------------------------------------------------ */
/* HEADER USER INFO MENU */
/* -------------------------------------------------------*/
 
.form-header {
    background-color: #fff;
}

.userMenu {
    float: right;
    list-style: none;
    margin-top: -55px;
    margin-right: 50px;
    
}

.userMenu li {
    display: inline-block;
    margin-left: 5px;       
}

.userMenu li a {
    color: #145b32;
    text-decoration: none;
    font-size: 100%;
    font-weight: bolder;
    padding-bottom: 0.25rem;
}

.userMenu li a:link,
.userMenu li a:active {
    border-bottom: 0.01rem solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;    
}

.userMenu li a:hover,
.userMenu li a:active {
    border-bottom: 0.01rem solid #145b32;
}

.currentuser {
    font-size: 150%;
    background-color: #93f4bc;    
}

.search {
    position: relative;
    margin-bottom: 10px;
}
.search input {
    padding: 4px 6px;
    width: 145px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 2px;
    background: #fcfcfc;  
    text-indent: 22px;
    font-size: 90%;  
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

input {
    font-weight: bolder;  
}

.search .ion-ios-search {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 110%;
    font-weight: 700;       
    
}


/* ------------------------------------------------------ */
/* TOP NAVIGATION */
/* -------------------------------------------------------*/

nav {
    background-color: #145b32;    
    padding-bottom: 0.15%;
    padding-top: 0.15%;  
    text-align: center;
}

nav ul li {
    display: inline-block;    
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: "Economica", "Arial", serif;
    color: #fff;
    font-size: 110%;
    font-weight: 400;
    padding: 0px 8px;
    letter-spacing: 0.04rem;
    text-decoration: none; 
}

nav ul li a:link,
nav ul li a:visited {
    transition: color 0.4s;
}

nav ul li a:hover,
nav ul li a:active {   
    color: #9fd574;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #efefef;   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;   
}

nav ul li ul li { 
    width: 100%;
    border-radius: 4px;
}

.ion-arrow-down-b { 
    font-size: 110%;
    font-weight: 700;
    padding: 5px;    
}


nav ul li ul li a { 
    padding: 6px 6px;
    color: #145b32;
    font-weight: 400;
    font-size: 110%;
}

nav ul li ul li a:hover {
    background-color: #145b32;
}

.tnm4kids {
    float: right;
}

.tnm4kids  a {
    color: #fdab15;    
    padding-bottom: 0.25rem;
    margin-right: 10px;
    letter-spacing: 0.25rem;
    border-bottom: 0.1rem solid transparent;
    transition: color 0.2s, border-bottom 0.2s;
}

.tnm4kids a:hover {
    border-bottom: 0.1rem solid #fdab15;
    color: #fff;     
}


/* Flash Messages */
.success-message {
    background-color: #1bf879;
}
.success-message h3 {
    text-align: center;
    font-weight: bold;
    font-size: 115%;
    padding: 0.25rem;
}

.error-message {
    background-color: #f55c62;
}

.error-message h3 {
    text-align: center;
    font-weight: bold;
    font-size: 115%;
    padding: 0.25rem;
}

/* ------------------------------------------------------ */
/* HEADLINE STYLES */
/* -------------------------------------------------------*/


/* Headline Main */

.headline-article {
    border-bottom: 1px solid #dedcdc;
}

.section-divider {
    display: block;
    height: 0.1rem;
    border: 0;
    border-top: 0.1rem solid #ccc;
    width: 76%;
    margin: 2rem auto;
    padding: 0;    
}

h1, h2 {
    margin-top: 0.25rem;
    margin-bottom: 0.55rem;
}

.headlines-story-container {
    margin-top: 2rem;
    padding: 0.4rem;
}

.headlines-story-container img {
    max-width: 100%;
    height: auto;
}

.hs-category {
    padding: 1.5% 0;
    font-family: "Lato", "Arial", sans-serif;
    text-transform: uppercase;    
}

.hs-category a:link,
.hs-category a:visited{
    text-decoration: none;
    color: #b9292f;
    font-size: 95%;
    letter-spacing: 0.1rem;
    line-height: 1.43;
    word-spacing: 0.2rem;
    border-bottom: .01rem solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.hs-category a:hover,
.hs-category a:active{
    border-bottom: .01rem solid #b9292f;
}

.hs-title a:link,
.hs-title a:visited{
    font-family: 'Lato', 'Arial', serif;
    text-transform: uppercase;
    text-decoration: none;     
    font-weight: 700;
    color: #272727;
    font-size: 200%;
    letter-spacing: 0.1rem;
    line-height: 1.1;
    word-spacing: 0.2rem;
    border-bottom: 0.2rem solid transparent;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s;
}

.hs-title a:hover,
.hs-title a:active{
    border-bottom: 0.2rem solid #272727;
}

.headlines-story-container p {
    font-family: "Raleway", "Arial", sans-serif;
    margin-bottom: 2%;
    max-width: 100%;    
    font-size: 115%;
    line-height: 1.45;
}

.headlines-story-container p a:link,
.headlines-story-container p a:visited{
    font-family: 'Raleway', 'Arial', serif;
    text-decoration: none;
    font-size: 95%;
    font-style: italic;
    color: #145b32;
    letter-spacing: 0.01rem;   
    border-bottom: 0.1rem solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.headlines-story-container p a:hover,
.headlines-story-container p a:active{
    border-bottom: 0.1rem solid #145b32;
}

.hs-author-box img{
    display: inline-block; 
    border-radius: 50%;
    width: 20%;
    margin-left: -4%;
    margin-top: -3%
}

.hs-author-text{
    display: inline-block; 
    padding-top: 2%;
    padding-bottom: 8%;
    margin-left: -39%;
}

.hs-author-text a:link,
.hs-author-text a:visited {
    text-decoration: none;
    color: #b9292f;
    font-size: 125%;
    border-bottom: 0.02rem solid transparent;
    -webkit-transition: color 0.3s, border-bottom 0.3s;
    transition: color 0.3s, border-bottom 0.3s; 
}

.hs-author-text a:hover,
.hs-author-text a:active {
    text-decoration: none;
    color: #b9292f;
    font-size: 125%;
    border-bottom: 0.02rem solid #b9292f;
}

/* Headline Sidebars */

.sidebar-article {
    border-bottom: 1px solid #dedcdc;
    
}

.headlines-sidebar-container {
    margin-top: 2rem;
    padding: 0.4rem;
}

.headlines-sidebar-container img {
    max-width: 100%;
    height: auto;
}

.hs-sidebar-category {
    padding: 1.5% 0;
    font-family: "Lato", "Arial", sans-serif;      
    text-transform: uppercase;
}

.hs-sidebar-category a:link,
.hs-sidebar-category a:visited{
    text-decoration: none;
    color: #b9292f;
    font-size: 95%;
    letter-spacing: 0.1rem;
    line-height: 1.49;
    word-spacing: 0.2rem;
    border-bottom: .01rem solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.hs-sidebar-category a:hover,
.hs-sidebar-category a:active{
    border-bottom: .01rem solid #b9292f;
}

.hs-sidebar-title {
    font-family: "Lato", "Arial", sans-serif;   
    font-weight: 700;
    padding: 2% 0;
    
}
.hs-sidebar-title a:link,
.hs-sidebar-title a:visited{
    font-family: 'Lato', 'Arial', serif;
    text-transform: uppercase;
    text-decoration: none;         
    color: #272727;
    font-size: 125%;
    letter-spacing: 0.1rem;
    line-height: 1.1;
    word-spacing: 0.2rem;
    border-bottom: 0.15rem solid transparent;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s;
}

.hs-sidebar-title a:hover,
.hs-sidebar-title a:active{
    border-bottom: 0.15rem solid #272727;
}

.headlines-sidebar-container p {
    font-family: "Raleway", "Arial", sans-serif;
    margin-bottom: 2%;
    max-width: 100%;    
    font-size: 115%;
    line-height: 1.45;
}

.hs-sidebar-intro a:link,
.hs-sidebar-intro a:visited{
    font-family: 'Raleway', 'Arial', serif;
    text-decoration: none;
    font-size: 95%;
    font-style: italic;
    color: #145b32;
    letter-spacing: 0.01rem;   
    border-bottom: 0.1rem solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.hs-sidebar-intro a:hover,
.hs-sidebar-intro a:active{
    border-bottom: 0.1rem solid #145b32;
    color: #145b32;
}

.hs-sidebar-author{
    display: inline-block; 
    padding-top: 1.3%;
    padding-bottom: 8%;
    font-size: 108%;  
}

.hs-sidebar-author a:link,
.hs-sidebar-author a:visited {
    text-decoration: none;
    color: #272727;    
    border-bottom: 0.01rem solid transparent;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s; 
}

.hs-sidebar-author a:hover,
.hs-sidebar-author a:active {    
    border-bottom: 0.01rem solid #272727;
    padding-bottom: 2%;
}


/* ------------------------------------------------------ */
/* TOP STORIES SECTION */
/* -------------------------------------------------------*/

.around-the-web {
    font-family: "Raleway", "sans-serif";
    text-align: center;
    font-size: 250%;
    letter-spacing: .05rem;
}

.middle-article {
    border-left: 1px solid #dedcdc;
    border-right: 1px solid #dedcdc;
    padding-right: 2%;
    padding-left: 2%;
}

/* ------------------------------------------------------ */
/* AROUND THE WEB SECTION */
/* -------------------------------------------------------*/

.box-atw img {
    max-width: 97%;
    height: auto;
    margin-left: 12%;   
}

.atw-story-category {
    font-family: "Lato", "Arial", sans-serif;    
    text-transform: uppercase;
    padding-left: 4%;
}

.atw-story-category a:link,
.atw-story-category a:visited {   
    text-decoration: none;         
    color: #b9292f;
    font-size: 115%;
    letter-spacing: 0.1rem;
    line-height: 1.45;
    word-spacing: 0.2rem;
    border-bottom: 0.15rem solid transparent;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.atw-story-category a:hover,
.atw-story-category a:active{
    border-bottom: 0.15rem solid #b9292f;
}
    
.atw-article-date {
    display: block;
    padding-top: 1%;
    padding-left: 4%;
    padding-bottom: 2.5%;
}

.atw-story-title {
    font-family: "Lato", "Arial", sans-serif;    
    text-transform: uppercase;
    padding-left: 4%;
    padding-bottom: 1%;
}

.atw-story-title a:link,
.atw-story-title a:visited {   
    text-decoration: none;         
    color: #272727;
    font-size: 135%;    
    letter-spacing: 0.1rem;
    line-height: 1.1;
    word-spacing: 0.2rem;
    border-bottom: 0.15rem solid transparent;
    -webkit-transition: color 0.2s, border-bottom 0.2s;
    transition: color 0.2s, border-bottom 0.2s;
}

.atw-story-title a:hover,
.atw-story-title a:active{
    border-bottom: 0.15rem solid #272727;
}

.atw-story-intro {
    font-family: "Raleway", "Arial", sans-serif;
    padding-bottom: 1%;
    padding-left: 4%;
    max-width: 100%;    
    font-size: 115%;
    line-height: 1.45;
    letter-spacing: 0.08rem;
}

.atw-story-author {
    display: inline-block;
    padding-left: 5.2%;
}

.atw-story-author a:link,
.atw-story-author a:visited {
    text-decoration: none;
    color: #272727;
    font-size: 155%;
    border-bottom: 0.02rem solid transparent;
    transition: border-bottom 0.2s;    
}

.atw-story-author a:hover,
.atw-story-author a:active {    
    border-bottom: 0.02rem solid #272727;    
}

/* ------------------------------------------------------ */
/* FORMS */
/* -------------------------------------------------------*/


/* REGISTERATION FORM */

.register-title {
    text-transform: capitalize;
    text-align: center;
    padding-top: .55rem; 
}

.register-text-top {
    text-align: center;
    margin-top: -.75rem;
    margin-bottom: 1.2rem;
    padding-bottom: .25rem;   
}

.register-form {
    display: block;
    max-width: 46rem;
    margin: 2rem auto;
    font-size: 100%;
    font-family: "Raleway", "Arial", sans-serif;
    background-color: #fff;
    border: 1px solid #0b0b0b;
    box-shadow: 3px 3px 3px #767373; 
}

.reg-form-label {
    display: block; 
    padding-left: .6rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
}


input.reg-form[type=text], 
input.reg-form[type=email], 
input.reg-form[type=password] {
    display: block;
    width: 97%;
    margin-top: -6px;
    margin-left: auto;
    margin-right: auto;    
    height: 3.45rem;
    padding: .4rem;
    border-radius: .25rem;
    border: 0.1rem solid #ccc;
}

.register-form textarea {
    display: block;
    height: 12rem;
    margin-top: -6px;
    margin-left: -0.3rem;
    margin-right: auto;
    margin-bottom: -26px;
    width: 98%;
    border: 0.1rem solid #ccc;
    
}

input.reg-form[type=text]:focus, input.reg-form[type=password]:focus, input.reg-form[type=email]:focus{
    background-color: #efefef;
    outline: none;
}

input.reg-form[type=submit] {
    display: inline-block;
    padding: .625rem 2.1875rem;
    margin: .5rem 1rem 1rem 0;
    font-size: 105%;
    font-weight: 400;
    font-family: "Raleway", "Arial", sans-serif;
    letter-spacing: .2rem;
    border: 0.1rem solid transparent;
    border-radius: 12.5rem;
    background-color: #145b32;   
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s border 0.2s color 0.2s   
}

input.reg-form[type=submit]:hover,
input.reg-form[type=submit]:active {
    border: 0.1rem solid #145b32;
    color: #145b32;
    background-color: #a5ebc2;
}

.cancelBtn {    
    display: inline-block;
    padding: .625rem 2.1875rem;
    font-size: 105%; 
    font-weight: 400;
    font-family: "Raleway", "Arial", sans-serif;
    letter-spacing: .2rem;
    border: 0.1rem solid transparent;
    border-radius: 12.5rem; 
    background-color: #b9292f;
    color: #fff;       
    cursor: pointer;
    transition: background-color 0.2s border 0.2s color 0.2s 
}

.cancelBtn:hover,
.cancelBtn:active {
    border: 0.1rem solid #b9292f;
    color: #272727;
    background-color: #eaa2a5;    
}

.register-text-bottom {
    text-align: left;
    margin-top: -.75rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding-bottom: .25rem;   
}

.register-text-bottom a {
    text-decoration: none;
    border: 0.1rem solid transparent;
    transition: border-bottom 0.2s 
}

.register-text-bottom a:hover, 
.register-text-bottom a:active {
    border-bottom: 0.1rem solid blue;    
}



/* LOGIN FORM */

.login-title {
    text-transform: capitalize;    
    text-align: center;
    padding: .75rem; 
}

.login-form {
    display: block;
    font-size: 105%;
    font-family: "Lato", "Arial", sans-serif;
    max-width: 32rem;      
    margin: 3rem auto;
    padding: 1rem;
    background-color: #fff;
    border: 1.25px solid #0b0b0b;
}

 input.login-form[type=text], input.login-form[type=password] {
    width: 100%;
    height: 3.45rem;
    padding: .5rem;
    margin: 1rem auto;    
    border-radius: .25rem;
    border: .15rem solid #0b0b0b;
}


 input.login-form[type=text]:focus, input.login-form[type=password]:focus {
    background-color: #eaeaea;
    outline: none;
}

input.login-form-submit[type=submit] {
    display: inline-block;
    width: 100%;
    height: 3.45rem;
    border-radius: .25rem;
    margin: 1rem auto; 
    font-weight: 400;
    font-family: "Lato", "Arial", sans-serif;
    border: 0.1rem solid transparent;    
    background-color: #145b32;   
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s border 0.2s color 0.2s   
}

input.login-form-submit[type=submit]:hover,
input.login-form-submit[type=submit]:active {
    border: 0.1rem solid #145b32;
    color: #145b32;
    background-color: #a5ebc2;
}

.login-form a {
    display: block;
    text-decoration: none;
    height: 3.45rem;
    border-radius: .25rem;
    font-size: 125%
}

.register-here-button{
    background-color: #3366f2;
    border-radius: 5px;
    color: white;
    padding: 1rem;
    text-align: center;
    margin: auto 0;
}

/* SUBMIT A STORY FORM */


.submit-your-story-title {
    text-transform: capitalize;
    text-align: center;
    padding-top: 1rem; 
}

.required-field {
    text-align: center;
    padding: 1rem; 
    color: #b9292f;   
}

.new-article-form {
    display: block;
    width: 35%;
    margin: 2rem auto;
    font-size: 100%;
    font-family: "Raleway", "Arial", sans-serif;
    background-color: #fff;
    border: 1px solid #0b0b0b;
    box-shadow: 3px 3px 3px #767373; 
}

.new-article-form input[type=text], 
[type=email], 
/*input[type=password],*/
textarea {
    width: 90%;
    height: 2.75rem;
    padding: .75rem;
    font-family: "Lato", sans-serif;
    font-size: 105%;
    margin-bottom: .3rem;
    margin-left: 0.15rem;
    border-radius: .25rem;
    border: 0.08rem solid #ccc;
}

.new-article-form textarea {
    height: 25rem;        
}

.new-article-form select {
    width: 40%;
    height: 2rem;
    font-family: "Lato", sans-serif;
    font-size: 105%;
}

.new-article-form input[type=text]:focus, input[type=password]:focus{
    background-color: #dceffe;
    outline: none;
}

.new-article-form input[type=submit] {
    display: inline-block;
    padding: .625rem 2.1875rem;
    font-size: 105%;
    font-weight: 400;
    font-family: "Economica", "Arial", sans-serif;
    letter-spacing: .2rem;
    border: 0.1rem solid transparent;
    border-radius: 12.5rem;
    background-color: #145b32;   
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s border 0.2s color 0.2s   
}

.new-article-form input[type=submit]:hover,
.new-article-form input[type=submit]:active {
    border: 0.1rem solid #145b32;
    color: #145b32;
    background-color: #a5ebc2;
}

.new-article-form label {
    font-weight: 400;
    font-size: 100%;   
    letter-spacing: 0.075rem;
    line-height: 1.25;
}

/* EDIT ARTICLE FORM */

.edit-article-form-section {
    width: 80%;
    margin: 1.5rem auto;
    background-color: #fff;   
}

.edit-article-form-section .label {
    padding-top: .95rem;
}

.blog-title {
    text-transform: capitalize;
    text-align: center;
    padding-top: 1rem; 
}

.edit-article-form {
    width: 85%;
    margin: 2.5rem auto;
    padding: 1.125rem 1rem;
    background-color: #efefef;
    box-shadow: 3px 3px 3px #767373;
    font-size: 105%; 
}

.edit-article-form input[type=text], [type=email], /*input[type=password],*/ textarea {
    width: 90%;
    height: 2.75rem;
    padding: .75rem;
    font-family: "Lato", sans-serif;
    font-size: 105%;
    margin-bottom: .3rem;
    margin-left: 0.15rem;
    border-radius: .25rem;
    border: 0.08rem solid #ccc;
}

.edit-article-form input[type=text].category{
   width: 40%; 
}

.edit-article-form textarea {
    height: 35rem;        
}

.edit-article-form input[type=text]:focus, input[type=password]:focus{
    background-color: #dceffe;
    outline: none;
}

.edit-article-form input[type=submit] {
    display: inline-block;
    padding: .625rem 2.1875rem;
    font-size: 105%;
    font-weight: 400;
    font-family: "Economica", "Arial", sans-serif;
    letter-spacing: .2rem;
    border: 0.1rem solid transparent;
    border-radius: 12.5rem;
    background-color: #145b32;   
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s border 0.2s color 0.2s   
}

.edit-article-form input[type=submit]:hover,
.edit-article-form input[type=submit]:active {
    border: 0.1rem solid #145b32;
    color: #145b32;
    background-color: #a5ebc2;
}

.edit-article-form label {
    font-weight: 400;
    font-size: 100%;   
    letter-spacing: 0.075rem;
    line-height: 1.25;
}


/* ------------------------------------------------------ */
/* SHOW PAGE */
/* -------------------------------------------------------*/

.show-page {
    width: 90%;
}

.story-divider {
    width: 100%;
    margin: 2.3% auto;
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #dedcdc, #ccc, #dedcdc)
}

.article-category a {
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 0.04rem;
    text-decoration: none;
    color: #b9292f;
    border-bottom: 0.02rem solid transparent;
    transition: border-bottom 0.2s
}

.article-category a:hover,
.article-category a:active {
    border-bottom: 0.02rem solid #b9292f;
}

.article-title {
    max-width: 100%;
    padding: 0.5rem 0rem;
    font-size: 400%;
    font-family: "Lato", "Arial", sans-serif;
    line-height: 1.45;
    text-transform: capitalize;
    letter-spacing: 0.04rem;
 }

.authorProfilePicture {
    float: left;    
    border-radius: 50%;
    width: 4.5%; 
    margin-bottom: 2.5%;
}

.authorName{
    display: inline-block;
    margin-top: 1.8%;
    margin-left: 1.65%;    
}

.authorName a {
    text-decoration: none;   
    color: #272727;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: bold;
    padding-bottom: 0.01rem;
    border-bottom: 0.02rem solid transparent;
    transition: border-bottom 0.2s
}

.authorName a:hover,
.authorName a:active {
    border-bottom: 0.02rem solid #272727;
}

.articleDate {
    display: inline-block;
    padding-left: 0.1rem;
}

.imageOne {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: auto 1%;    
}

.story-lead p {
    color: #272727;
    font-family: "Raleway", "Arial", serif;
    margin: 0 auto;
    max-width: 67%;
    font-size: 135%;
    line-height: 1.49;
    padding: 2% 0;
}

.story-lead p a{
    text-decoration: none;
    color: #145b32;
    font-weight: bold;
    border-bottom: 0.01rem solid transparent; 
    transition: border-bottom 0.2s
}

.story-lead p a:hover,
.story-lead p a:active {
    border-bottom: 0.01rem solid #145b32;
}

input[type=submit] {
    display: inline-block;
    padding: .425rem 1rem;
    font-size: 105%;
    font-weight: 400;
    font-family: "Economica", "Arial", sans-serif;
    letter-spacing: .2rem;
    border: 0.1rem solid transparent;
    border-radius: 12.5rem;
    background-color: #b9292f;   
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s border 0.2s color 0.2s   
}

input[type=submit]:hover,
input[type=submit]:active {
    border: 0.1rem solid #b9292f;
    color: #b9292f;
    background-color: #f4cbcd;
}

.editBtn {    
    display: inline-block;    
    margin-top: 1%;
    margin-left: 16.5%;
    padding: .425rem 1rem;
    font-size: 105%; 
    font-weight: 400;
    font-family: "Economica", "Arial", sans-serif;
    letter-spacing: .2rem;
    border: 0.1rem solid transparent;
    border-radius: 12.5rem; 
    background-color: #087bd3;
    color: #fff;       
    cursor: pointer;
    transition: background-color 0.2s border 0.2s color 0.2s 
}

.editBtn:hover,
.editBtn:active {
    border: 0.1rem solid #087bd3;
    color: #272727;
    background-color: #9bd1fb;    
}

/* ------------------------------------------------------ */
/* FOOTER LOGO */
/* -------------------------------------------------------*/

.footer-logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    width: 150px;
    margin: 0 auto;
}


/* ------------------------------------------------------ */
/* FOOTER NAVIGATION */
/* -------------------------------------------------------*/

.footer-nav {
    background-color: #878e90;
}

.main-nav-footer {
    list-style: none;
    padding-bottom: 1%;
    padding-top: 1%;  
    text-align: center;
}

.main-nav-footer li {
    display: inline-block;
    margin-right: 1.5rem;
    
}

.main-nav-footer li a:link,
.main-nav-footer li a:visited {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.01rem;
    text-decoration: none;
    font-size: 90%;
    font-family: "Economica", "Arial", serif;
    border-bottom: 0.1rem solid transparent;
    -webkit-transition: color 0.4s, border-bottom 0.4s;
    transition: color 0.4s, border-bottom 0.4s;
}

.main-nav-footer li a:hover,
.main-nav-footer li a:active {
    border-bottom: 0.1rem solid #272727;
    color: #272727;
}



