
<!--THIS IS TO SIGN UP AS A NEW USER/CONTRIBUTOR/AUTHOR -->


<% include ../partials/form-header %>


  <div class="row">
     <form action="/register" method="POST" class="register-form">
       <div class="row">
          <h1 class="register-title">Registeration Form</h1>
          <p class="register-text-top">Please complete this form to register as an author</p>
      </div>
    
      <!------------------------------------------------------------------------------------>
       
        <div class="row">
            <div class="col span-1-of-2">            
                <label for="firstName" class="reg-form-label">First Name</label>
            </div>
               
            <div class="col span-1-of-2">            
                <label for="lastName" class="reg-form-label">Last Name</label>
            </div>
         </div>
    
        <div class="row">         
            <div class="col span-1-of-2">
               <input type="text" name="firstName" class="reg-form" required>                             
            </div>
            
            <div class="col span-1-of-2">
               <input type="text" name="lastName" class="reg-form" required>                             
            </div>
        </div>
    <!------------------------------------------------------------------------------------>
           
        <div class="row">
            <div class="col span-1-of-2">            
                <label for="username" class="reg-form-label">Username</label>
            </div>
               
            <div class="col span-1-of-2">            
                <label for="lastName" class="reg-form-label">Password</label>
            </div>
         </div>
    
        <div class="row">         
            <div class="col span-1-of-2">
               <input type="text" name="username" class="reg-form" required>                             
            </div>
            
            <div class="col span-1-of-2">
               <input type="password" name="password" class="reg-form" required>                             
            </div>
        </div>
        
    <!------------------------------------------------------------------------------------>
    
     <div class="row">
               
               <div class="col span-1-of-2">
                   <label for="email" class="reg-form-label">Email</label>
                </div>
            
               <div class="col span-1-of-2">            
                <label for="adminCode" class="reg-form-label">Admin Code</label>
                </div>
         </div>
    
        <div class="row">
              
              <div class="col span-1-of-2">
                <input type="email" name="email" class="reg-form" required>
              </div>       
            
              <div class="col span-1-of-2">
               <input type="password" name="adminCode" class="reg-form"> 
              </div>
        </div>
       
    <!------------------------------------------------------------------------------------>
                                                              
        <div class="row">
               <div class="col span-1-of-2">            
                     <label for="profilePicture" class="reg-form-label">Profile Picture</label>
                </div>
               
                <div class="col span-1-of-2">            
                    <label for="facebook" class="reg-form-label">Facebook Page</label>
                </div>
         </div>
    
        <div class="row"> 
               <div class="col span-1-of-2">
                   <input type="text" name="profilePicture" placeholder="Add a Profile Picture" class="reg-form">  
               </div>
              
              <div class="col span-1-of-2">
                   <input type="text" name="facebookPage" placeholder="Add Your Facebook Page Link" class="reg-form">
              </div>
        </div>
        
    <!------------------------------------------------------------------------------------>
        
        
        <div class="row">
            <div class="col span-1-of-2">            
                <label for="twitter" class="reg-form-label">Twitter Handle</label>
            </div>
               
            <div class="col span-1-of-2">            
                <label for="instagram" class="reg-form-label">Instagram Page</label>
            </div>
         </div>
    
        <div class="row">         
            <div class="col span-1-of-2">
               <input type="text" name="twitterHandle" placeholder="Add Your Twitter Handle" class="reg-form">
            </div>
            
            <div class="col span-1-of-2">
               <input type="text" name="instagramPage" placeholder="Add Your Instagram Page Link" class="reg-form"> 
            </div>
        </div>
        
    <!------------------------------------------------------------------------------------>
        
      
    
        <div class="row">
            <div class="col span-3-of-3">
                <label for="bio" class="reg-form-label">Tell Us About Yourself</label>
            </div>
            <div class="col span-3-of-3">
                <textarea name="bio" placeholder="Tell us about yourself in 200 words or less"></textarea>                           
            </div>
        </div>
        
    <!------------------------------------------------------------------------------------>
        
        <div class="row">
           <div class="col span-3-of-3">
              <label>&nbsp;</label>               
           </div>
           <div class="col span-3-of-3"> 
                <input value="Register" type="submit" class="reg-form">                
                <a href="/"><button type="button" class="cancelBtn">Cancel</button></a>                
           </div>
        </div>
        
        <p class="register-text-bottom">By creating an author account, you agree to our <a href="#">Terms of Use &amp; Privacy Conditions</a>.</p>
        
        <br>
        
        <p class="register-text-bottom">Already have an account? <a href="/login">Please Sign In</a></p>
        
        </form>
     </div>
